In [19]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
atlanta_crime_data = "./COBRA-2009-2018.csv"


# Read the Mouse and Drug Data and the Clinical Trial Data
atlanta_crime_df = pd.read_csv(atlanta_crime_data)

atlanta_crime_df.head()

,Report Number,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Apartment Office Prefix,Apartment Number,Location,Shift Occurence,Location Type,UCR Literal,UCR #,IBR Code,Neighborhood,NPU,Latitude,Longitude
0,90010930,2009-01-01,2009-01-01,1145,2009-01-01,1148.0,408.0,NaN,NaN,2841 GREENBRIAR PKWY,Day Watch,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68845,-84.49328
1,90011083,2009-01-01,2009-01-01,1330,2009-01-01,1330.0,506.0,NaN,NaN,12 BROAD ST SW,Day Watch,9,LARCENY-NON VEHICLE,630,2303,Downtown,M,33.75320,-84.39201
2,90011208,2009-01-01,2009-01-01,1500,2009-01-01,1520.0,413.0,NaN,NaN,3500 MARTIN L KING JR DR SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Adamsville,H,33.75735,-84.50282
3,90011218,2009-01-01,2009-01-01,1450,2009-01-01,1510.0,204.0,NaN,NaN,3393 PEACHTREE RD NE,Evening Watch,8,LARCENY-NON VEHICLE,630,2303,Lenox,B,33.84676,-84.36212
4,90011289,2009-01-01,2009-01-01,1600,2009-01-01,1700.0,408.0,NaN,NaN,2841 GREENBRIAR PKWY SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68677,-84.49773

In [20]:
atlanta_crime_2018_df = atlanta_crime_df.loc[atlanta_crime_df['Report Date'].str.contains('2018')]


atlanta_crime_2018_distribution = atlanta_crime_2018_df.groupby('UCR Literal')
crime_type = atlanta_crime_2018_distribution['UCR Literal'].count()

atlanta_crime_2018_total = atlanta_crime_2018_distribution['UCR Literal'].nunique()

#atlanta_crime_2018_total = len(atlanta_crime_2018_distribution)
#print(atlanta_crime_2018_total)
#crime_type_percentage = (crime_type/atlanta_crime_2018_total) * 100

atlanta_crime_2018_distribution = pd.DataFrame({'Type of Crime Count': crime_type})

atlanta_crime_2018_distribution.head(10)

                      Type of Crime Count
UCR Literal
AGG ASSAULT                          1824
AUTO THEFT                           3222
BURGLARY-NONRES                       800
BURGLARY-RESIDENCE                   2219
HOMICIDE                               90
LARCENY-FROM VEHICLE                10271
LARCENY-NON VEHICLE                  6150
MANSLAUGHTER                            1
ROBBERY-COMMERCIAL                    148
ROBBERY-PEDESTRIAN                    788

In [22]:
atlanta_crime_2018_distribution_graph = atlanta_crime_2018_distribution.sort_values("Type of Crime Count", axis=0, ascending=False)

In [24]:
atlanta_crime_2018_distribution_graph
atlanta_crime_2018_distribution_graph.to_csv('Atlanta Crime Distribution 2018.csv')